<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Pizza Configurator - Configure Pizza</title>
</head>
<body>
<h2>Configure Your Pizza</h2>

<form th:object="${pizza}" action="/displayConfiguration" method="post">
    <label>Choose Dough:</label>
    <select th:field="*{dough}">
        <option th:each="dough : ${doughs}" th:value="${dough}" th:text="${dough}"></option>
    </select>

    <br/>

    <label>Choose Sauce:</label>
    <select th:field="*{sauce}">
        <option th:each="sauce : ${sauces}" th:value="${sauce}" th:text="${sauce}"></option>
    </select>

    <br/>

    <label>Select Toppings (max 2 each):</label>
    <div th:each="topping : ${toppings}">
        <input type="checkbox" th:field="*{toppings}" th:value="${topping}"/>
        <label th:text="${topping}"></label><br/>
    </div>

    <br/>

    <label>Choose Cheese Topping:</label>
    <select th:field="*{cheeseTopping}">
        <option value="">None</option>
        <option>Gouda</option>
        <option>Mozzarella</option>
    </select>

    <br/>

    <input type="submit" value="Submit"/>
</form>
</body>
</html>
